*.elc
asciinema/
Slack/
asteroids/
autostart/
ccache/
cef_user_data/
chromium/
clion/
cmus/
Code - OSS/
configstore/
dconf/
discord.bak/
discord/
docker/
Electron/
elinks/
emacs/
!emacs/init.el
erl_observer/
gconf/
GIMP/
git/
gotop/
gtk-2.0/
gtk-3.0/
idea/
inkscape/
java/
jupyter/
Keybase/
keybase/
menus/
micro/
mimeapps.list
mplayer/
mps-youtube/
neofetch/
nvim/bundle/
nvim/.netrwhist
oh-my-zsh/
!oh-my-zsh/custom
pavucontrol.ini
pulse/
QtProject.conf
qutebrowser/
ranger/
sublime-text-3/
transmission/
unity3d/
user-dirs.dirs
user-dirs.locale
vivaldi/
whoozle.github.io/
zsh/.zcompdump*
zsh/.zsh_history
